@charset "utf-8";
/* CSS Document */
body {
    font:12pt arial;
    color: #222;
    text-align:center;
    padding:35px;
}

form, p, span {
    margin:0;
    padding:0;
}

#wrapper{
	margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:50%;
    border:1px solid #ACD8F0;
}

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:400px;
    width:600px;
    border:1px solid #ACD8F0;
    overflow:auto;
}
#chatbox ul{
    list-style-type:none;
}

#messagetxt {
    width:395px;
    border:1px solid #ACD8F0;
}
/*messages that this user has sent*/
.mymessage{
    color:blue;
}
  
#submit { width: 60px; }
#messagetxt{
    width: 500px;
    font-size:12pt arial;
}